/*==[Global]==*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*==[Image & Icon Styles]==*/
i {
}

#pirate {
  /* height:470px; */
}

/*
===Colors===
Colors From Original NYC Reads 365 Page
----------------------------------------
NYC Green: rgb(128, 179, 77);
NYC Orange: rgb(255, 153, 51);
NYC Light Blue: rgb(102, 153, 204);
NYC Dark Blue: rgb(0, 51, 102);
Pg Background Beige: rgb(226, 217, 204);
Pg Border Beige: rgb(204, 204, 204);

*/

/*==[Text Styles]==*/
h1, h2, h3 {
  letter-spacing: .03em;
  margin-bottom:0.2rem;
}

h1 {
  font-weight:600;
}

h2 {
}

p, li, a {
  color:rgb(0, 51, 102);
  font-size:1rem;
}

.shadow {
  text-shadow: 1px 1px #000;
}

.smallCaps {
  font-variant: small-caps;
}

.green {color: rgb(128, 179, 77);}
.orange {color:rgb(255, 153, 51);}
.lightBlue {color:rgb(102, 153, 204);}
.darkBlue {color:rgb(0, 51, 102);}

.indent {
  text-indent: 0.7rem;
}
/*Links*/
a {
  text-decoration: none;
  font-variant: small-caps;
}

a:hover {
  color:rgb(102, 153, 204);
}

/*Lists*/
ul {
  list-style: none;
}

li {

}

/*Animations*/

/*Misc Stylings*/
.container {
  background-color:#fff;
}

.borderTop {
  border-top: 10px solid rgb(255, 153, 51);
}

/*==[Page Styles]==*/
/*HEADER*/
header {
  background-color: rgb(242, 243, 247);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
/*NAV*/
nav {

}

nav ul {
}

/*CONTENT*/
main {
  background-color: rgba(241, 243, 247,0.3);
}

#mission {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

/*Accordion*/
#bookshelf {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

li > input {
  position: absolute;
  top: -9999px;
  left: -9999px;

}

li > label {
  display: block;
  float: left;
  height: 200px;
  width: 50px;
  border-right:1px solid rgba(0,0,0,0.2);
  writing-mode: vertical-lr;
  border-radius:5px;
  color:#fff;
  font-weight:500;
  background: rgb(102, 153, 204);
  text-align: center;
  text-shadow: 1px 1px rgb(0,0,0);

  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}

.accslide {
  display: block;
  height: 200px;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow: hidden;
  border-radius:5px;
  color: #333;
  background: gray;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.accslide p, h2, img {
  padding-left: 10px;
}

li > input[type="radio"]:checked ~ .accslide {
  width: 150px;
}

/*Carousel*/
#carousel {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

/*FOOTER*/
footer {
}

#contact {

}

#contact label {

}

input, textarea {

}

textarea {

}

#socialMedia {

}

#socialMedia li i {

}
