/*
===Colors===
Colors From Original NYC Reads 365 Page
----------------------------------------
NYC Green: rgb(128, 179, 77);
NYC Orange: rgb(255, 153, 51);
NYC Light Blue: rgb(102, 153, 204);
NYC Dark Blue: rgb(0, 51, 102);
Pg Background Beige: rgb(226, 217, 204);
Pg Border Beige: rgb(204, 204, 204);
*/

/*==[Global]==*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*==[Image & Icon Styles]==*/
i {
  font-size:1.1rem;
}

/*==[Text Styles]==*/
h1, h2, h3 {
  letter-spacing: .03em;
  margin-bottom:0.2rem;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight:600;
}

p, li, a {
  color:rgb(0, 51, 102);
  font-size:1.3rem;
  font-family: 'Open Sans', sans-serif;
}

.smallCaps {
  font-variant: small-caps;
}

.green {color: rgb(128, 179, 77);}
.orange {color:rgb(255, 153, 51);}
.lightBlue {color:rgb(102, 153, 204);}
.darkBlue {color:rgb(0, 51, 102);}

.indent {
  text-indent: 0.7rem;
}

/*Links*/
a {
  text-decoration: none;
  font-variant: small-caps;
}

a:hover {
  color:rgb(102, 153, 204);
}

/*Lists*/
ul {
  list-style: none;
}

li {
  list-style: none;
  padding-left:0;
}
/*Misc Stylings*/
.container {
  background-color:#fff;
}

.borderBottom {
  border-bottom: 7px solid rgba(255, 153, 51, 0.6);
}

.borderTop {
  border-top: 7px solid rgba(255, 153, 51, 0.6);
}

/*==[Page Styles]==*/
/*HEADER*/
header {
  background-color: rgb(242, 243, 247);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  font-size:1.5rem;
}

/*CONTENT*/
main {
  background-color: rgba(241, 243, 247,0.3);
}

/*Mission Statement*/
#mission {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

/*Accordion*/
#accbg {
  position:absolute;
  top:200px;
  z-index:-1;
  background: url("/imgs/shelves.jpg") center/cover no-repeat;
  height:530px;
}

#bookshelf {
  background: rgba(226, 217, 204,0.96);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.5);
  min-width: 500px;
}

#secondShelf, #firstShelf {
  max-width:450px;
  clear:left;
}

li > input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

li > label {
  display: block;
  float: left;
  height: 230px;
  width: 50px;
  border-right:1px solid rgba(0,0,0,0.25);
  writing-mode: vertical-lr;
  border-radius:5px;
  color:#fff;
  font-weight:500;
  background: rgb(102, 153, 204);
  text-align: center;
  text-shadow: 1px 1px rgb(0,0,0);
  transition: width 1s ease, background 0.5s ease;
}

.bkSlide {
  display: block;
  height: 230px;
  width: 0px;
  padding: 10px 0;
  float: left;
  overflow: hidden;
  border-radius:5px;
  color: #333;
  background: rgba(251,246,241, 0.8);
  transition: all 1s ease;
}

li > input[type="radio"]:checked ~ .bkSlide {
  width: 150px;
}

.bookTitle {
  font-weight:bold;
  font-size:0.95rem;
}

.bookAuthor {
  font-size:0.85rem;
}

.moreTitles {
  background: rgba(255, 153, 51, 0.5);
  font-size:0.86rem;
  font-weight:500;
  opacity:0.6;
}

.moreTitles::after {
  opacity:0.7;
}

#chooseBk a {
  font-size:1.5rem;
}

#chooseBk {
  clear:left;
}

.scale {
  transform: scale(1.05,1.05);
}

@keyframes emphasis {
  from { transform: scale(1); }
  50% { transform: scale(0.95); }
  to { transform: scale(1); }
}

.emphasis {
  animation: emphasis 2.5s ease-in-out 10;
}

#chooseBk a:hover {
  text-decoration: none;
  animation: emphasis 2.5s ease-in-out infinite;
}

/*Resources*/
#resrc {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
}

#readAhead {
  background: url("/imgs/readahead.png") bottom left/cover no-repeat;
}

#newberyFilm {
  background: url("/imgs/newberyfilm.png") top left/cover no-repeat;
}

#rif {
  background: url("/imgs/rif.png") top left/cover no-repeat;
}

#readAmer {
  background: url("/imgs/readacrossamerica.png") top left/cover no-repeat;
}

#storyOnline {
  background: url("/imgs/storyonline.png") top left/cover no-repeat;
}

#readRockets {
  background: url("/imgs/readingrockets.png") top left/cover no-repeat;
}

#kidLitTV {
  background: url("/imgs/kidlittv.png") top left/cover no-repeat;
}

#unite {
  background: url("/imgs/uniteforliteracy.png") top left/cover no-repeat;
}

.page {
  background-color: transparent;
  width: 100%;
  height: 200px;

  perspective: 1000px;
  border-radius:5px;
}

.page-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border:1px solid rgba(0,0,0,0.3);
  border-radius:5px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
}

.page:hover .page-inner {
  transform: rotateY(180deg);
}

.page-front, .page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.page-front {
  background: rgba(255, 153, 51, 0.2);
}

.page-back {
  background: rgba(255, 153, 51, 0.2);
  color:rgb(0, 51, 102);
  transform: rotateY(180deg);
}

/*Reading Lists*/
#lists {
  background: url("/imgs/bookstack.jpg") center/cover no-repeat;
}

/*Carousel and Form*/
#carousel {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
}

#suggestions{
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

::placeholder {
  color: rgba(255, 153, 51,0.7);
  font-weight:447;
}

#suggestions input {
  outline:none;
  border: 1.5px solid rgba(255, 153, 51,0.5);
}

#suggestions input:focus, textarea {
  outline:none;
  border: 1px solid rgba(255, 153, 51,0.5);
}

#sugText {
  color: rgba(255, 153, 51, 0.7);
  text-shadow: 1px 1px rgba(255, 153, 51,0.5);
}

textarea {width:100%;}

#submit {
  border: 1px solid rgba(255, 153, 51, 0.5);
  color: rgb(255, 153, 51);
}
